.card{
    width: 300px;
    min-width: 300px;
}

.card-columns {
    padding: 2rem;
}

.card-img-top {
    height: 200px;
}

.card-img-top#card-challenge{
    height: 300px;
}
.card#card-challenge-one{
    width: 500px;
}

.btn{
    margin:5px;
    color:white;
    background-color:#259b4c;
    border-style: solid;
    border-color: #259b4c;
  }

  .btn#button-confirm {
    margin:0px;
    color:white;
    background-color:#259b4c;
    border-style: solid;
    border-color: #259b4c;
  }

